
# Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

# JWT SECRET for token
JWT_SECRET=

# SEED PASSWORD (For 1st Admin login)
SEED_PASSWORD=

# Node Environment
NODE_ENV=development
